p {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
h2 {
margin-left: 100px;
margin-right: 100px;
margin-top: 20px;
}

header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}