{% extends "base.html" %}
{% block title %} Home {% endblock%}
{% block content %}
<h1><center> History Searcher </center></h1>
        <p> This is a search tool for events throughout history. In the search bar below you can
            search through history in one of four ways.
        </p>

        <p>When you press next you will taken to a page where it will ask you for some information
        like your salary and amount that you can put into paying off loans. When this is all done,
        we will break down how long it will take you to pay off the debts and how much you might save by increasing
        the amount that you pay back.</p>
<p><a class="btn btn-primary" href="/form1" role="button">Next</a></p>
{% endblock %}
